<div id="mySidenav" class="sidenav">
    <span class="closebtn"><i class="fa fa-times"></i></span>
    <a href="#">Tableau<br/>de bord</a>
    <a href="/HistoGrp">Historique des<br/>groupements</a>
    <a href="/CreationAccords">Créer<br/>un accord</a>
    <a href="/RechercheAccords">Rechercher<br/>un accord</a>
</div>

<!-- Use any element to open the sidenav -->
<span id="IconOpenMenu">
    <i class="fa fa-bars" aria-hidden="true"></i>
</span><span>Menu</span>